<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jt.abandon.dao.test.TestMapper">
    <resultMap id="BaseResultMap" type="com.jt.abandon.entity.test.TestEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="text" property="text" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, text
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_test
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectText" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_test
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_test
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jt.abandon.entity.test.TestEntity">
        insert into t_test (id, text)
        values (#{id,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jt.abandon.entity.test.TestEntity">
        insert into t_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="text != null">
                text,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="text != null">
                #{text,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jt.abandon.entity.test.TestEntity">
        update t_test
        <set>
            <if test="text != null">
                text = #{text,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jt.abandon.entity.test.TestEntity">
    update t_test
    set text = #{text,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>